#contFormSignIn{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/fondo2.png');
}
#formRegister{
    display: flex;
    flex-direction: column;
}
#contFormSignIn > p:nth-child(1){
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#formRegister > input{
    height: 33px;
    margin-bottom: 10px;
    width: 320px;
    border: 0;
    border-radius: 5px;
}
#formRegister > button{
    margin-top: 15px;
    padding: 8px 0;
    background-color: #05cc1b;
    border: 0;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
#formRegister > label{
    color: white;
    margin-bottom: 2px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#contFormSignIn > p:nth-child(3){
    margin-top: 25px;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#contFormSignIn > p:nth-child(3) > a{
    color: #04aa18;
    text-decoration: none;
}