#cont-ZMessage{
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.635);
}
.contMessageSuccess{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 5px;
}
#campanaNoti{
    position: relative;
    width: 180px;
    margin-top: -80px;
}
.MessageText{
    margin: 0 40px;
}
.MessageText > p:nth-child(1){
    margin-top: -20px;
    color: #00509a;
    text-align: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}
.MessageText > p:nth-child(2){
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.rectDeco{
    background-color: #00509a;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    margin-top: 20px;
}
.btnsCerrar{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#cerrar, #lo_tengo, #cerrar2{
    background-color:#05cc1b;
    border: 0;
    width: 120px;
    border-radius: 20px;
    color: white;
    padding: 6px 0;
    font-size: 20px;
    cursor: pointer;
}