<nav>
        <img src="/images/iconMass.png" alt="Icono Mass" id="iconMass">
        <div id="separador"></div>
        <button id="acceIns">ACCESO | INSCRIBIRSE</button>
        <button id="descargar">DESCARGAR</button>
    </nav>
    <div class="cont">
        <div class="div1">
            <p id="text1">ESTE <span style="font-weight: 900;">25</span> DE <span style="font-weight: 900;">NOVIEMBRE</span></p>
            <p id="text2">ÚNETE AL MUNDO DEL</p>
            <a href="#contFormSignIn">
                <button id="btnRe">REGISTRO PREVIO DE MASS</button>
            </a>
        </div>
        <div class="div2">
            <img src="/images/cel1.png" alt="Imagen de celular 1" class="cels" id="cel1">
            <img src="/images/cel2.png" alt="Imagen de celular 2" class="cels" id="cel2">
            <img src="/images/cel3.png" alt="Imagen de celular 3" class="cels" id="cel3">
            <img src="/images/cel4.png" alt="Imagen de celular 4" class="cels" id="cel4">
        </div>
    </div>
    <div id="contFormSignIn">
        <p>CREA TU CUENTA</p>
        <form action="/preregistro" method="post" id="formRegister">
            <label for="name">Nombre.*</label>
            <input type="text" name="name" id="nameUser">
            <label for="email">Dirección de correo electrónico.*</label>
            <input type="email" name="email" id="email">
            <label for="email2">Vuelva a escribir su correo electrónico.*</label>
            <input type="email" name="email2" id="email2">
            <label for="numberTel">Número</label>
            <input type="tel" name="numberTel" id="numberTel">
            <button>¡REGÍSTRATE!</button>
        </form>
        <p>¿Ya tienes una cuenta de Mass? <a href="#">Inicia sesión</a></p>
        <img src="/images/ASK_LOGO.png" alt="askLogo" id="askLogo">
        <p id="copyright"> &#169 2022-2023 Mass, son marcas comerciales de ASKCORP.</p>
    </div>