<div id="cont-ZMessage">
    <div class="contMessageSuccess">
        <img src="/images/ERROR.png" alt="" id="campanaNoti">
        <div class="MessageText">
            <p>ERROR</p>
            <p>El correo no es valido</p>
        </div>
        <div class="rectDeco"></div>
        <div class="btnsCerrar">
            <button id="cerrar2">Aceptar</button>
        </div>
    </div>
</div>