{{#if success}}
    <div id="cont-ZMessage">
    <div class="contMessageSuccess">
        <img src="/images/NOTIFICACIONES.png" alt="" id="campanaNoti">
        <div class="MessageText">
            <p>¡Gracias!</p>
            <p>Por inscribirte a nuestro pre registro, pronto recibiras nuestra invitación de <span style="color: #00509a; font-weight: 900;">acceso anticipado a mass.</span></p>
        </div>
        <div class="rectDeco"></div>
        <div class="btnsCerrar">
            <button id="cerrar">Cerrar</button>
            <button id="lo_tengo">Lo tengo</button>
        </div>
    </div>
</div>
{{/if}}
{{#if MesCorreoRe}}
<div id="cont-ZMessage">
    <div class="contMessageSuccess">
        <img src="/images/ERROR.png" alt="" id="campanaNoti">
        <div class="MessageText">
            <p>ERROR</p>
            <p>{{MesCorreoRe}}</p>
        </div>
        <div class="rectDeco"></div>
        <div class="btnsCerrar">
            <button id="cerrar2">Aceptar</button>
        </div>
    </div>
</div>
{{/if}}