{{#if success}}
    <div id="cont-ZMessage">
        <div class="contMessageSuccess">
            <div class="cont-btn-x">
                <button id="btnXMessage">X</button>
            </div>
            <div class="MessageText">
                {{success}}
            </div>
        </div>
    </div>
{{/if}}